.page__ivent__title{
    font-weight: 700;
    font-size: 36px;
    padding: 50px 0px 0px 150px;
}
.page__ivent__content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.page__ivent__content__card{
    width: 1180px;
    height: 160px;
    border-radius: 10px;
    background-color: #F7941D;
}
.page__ivent__block{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.page__ivent__block__card{
    width: 380px;
    height: 250px;
    border-radius: 10px;
    background-color: #B8EFCF;
    box-shadow: 0px 0px 10px 3px rgb(191, 190, 190);
}
.big-card {
    width: 780px;
}
.page__ivent__block__card__content{
    display: flex;
    column-gap: 30px;
}
.page__ivent__block__card__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.subtitle{
    font-weight: 400;
    font-size: 12px;
}
.title1{
    font-weight: 500;
    font-size: 18px;
}
.page__ivent__block__text{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.page__ivent__content__card__text__img{
    display: flex;
    flex-direction: column;
}
.page__ivent__content__card__text{
    padding-top: 30px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.page__ivent__content__card__text1__title{
    font-weight: 500;
    font-size: 36px;
}
.page__ivent__content__card__text1__subtitle{
    font-weight: 400;
    font-size: 18px;
    width: 717px;
    padding-top: 10px;
}
.page__ivent__content__card__text__btn{
    margin-top: 20px;
    width: 222px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}
.page__ivent__block__card1{
    width: 380px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgb(191, 190, 190);
    background-image: url(../images/shutterstock_1709750299\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.page__ivent__block__card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}
.page__ivent__block__card1__title{
    font-weight: 600;
    font-size: 24px;
    color: white;
}
.page__ivent__block__card1__subtitle{
    font-weight: 400;
    font-size: 12px;
    color: white;
    width: 33   0px;
}

.subtitle1 {
    width: 320px;
}

@media screen and (max-width:1024px) {
    .ivents-header-info {
        margin-left: 40px;
    }
    .page__ivent__title {
        padding-left: 100px;
    }
    .page__ivent__block {
        column-gap: 6px;
    }
    .page__ivent__content__card {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .page__ivent__title {
        padding-left: 125px;
    }
    .page__ivent__content__card__text__btn {
        display: none;
    }
    .page__ivent__block {
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
    }
    .page__ivent__content__card__text1__title {
        width: 442px;
    }
    .page__ivent__content__card__text1__subtitle {
        width: 526px;
    }
}

@media screen and (max-width:480px) {
    .page__ivent__title {
        padding-left: 40px;
    }
    .page__ivent__content__card {
        height: 340px;
    }
    .page__ivent__content__card__text {
        padding-left: 20px;
        flex-direction: column;
    }
    .page__ivent__content__card__text img:first-child {
        width: 108px;
        height: 68px;
    }
    .page__ivent__content__card__text img:last-child {
        width: 108px;
        height: 29.35px;
    }
    .page__ivent__content__card__text1__subtitle {
        width: 435px;
        overflow-wrap: break-word;
    }
    .big-card {
        max-width: 100%;
    }
    .page__ivent__block__card__content {
        column-gap: 15px;
    }
    .subtitle1 {
        width: 175px;
    }
}