.dark-header {
  color: #fff;
  height: 110px;
  background: #00093c;
}

.news-header-logo button {
  background-image: url("../images/logowhitebig.svg");
  background-repeat: no-repeat;
}

.news-header-logo button a {
  color: #fff;
}

.dark-header-nav ul li a {
  color: #fff;
}

.news-header-login a {
  color: #fff;
}

.header-geo img,
.header-login img {
  width: 17px;
  height: 20px;
}
