.news-owl-card {
  margin: 100px 0px 0px 350px;
}

@media screen and (max-width: 1024px) {
  .news-owl-card {
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .news-owl-card {
    margin-left: 0px;
  }
}
