.page__web__hero {
    max-width: 100%;
    height: 490px;
    margin-top: 19.35px;
    background-image:url(../images/figures.svg),url("../images/shutterstock_1913950771.png"),url(../images/Rectangle.svg),url(../images/Rectangle\ 142.svg);
    background-position: 30% 0%, 80% 0% , 0% 0%, 100% 0%;
    background-repeat: no-repeat; 
    
  }
.web__hero__title{
    font-weight: 700;
    font-size: 42px;
    color: white;
}
.web__hero__subtitle{
    padding-top: 10px;
    width: 540px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.web__hero{
    padding: 30px 0px 0px 150px;
}
.schedule__block{
    padding: 35px 0px 0px 150px;
    display: flex;
    column-gap: 50px;
}
.title{
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.schedule__block__title{
    position: relative;
}
.schedule__block__subtitle{
    position: relative;
}
.schedule__block__title::before{
    content: '';
    width: 100%;
    height: 3px;
    background:linear-gradient(45deg, rgb(233, 174, 64), rgb(72, 72, 235));;
    position: absolute;
    bottom: 40px;
}
.schedule__block__subtitle::before{
    content: '';
    width: 100%;
    height: 3px;
    background:linear-gradient(45deg, rgb(233, 174, 64), rgb(72, 72, 235));
    position: absolute;
    bottom: 40px;
}
.price__block{
    padding: 60px 0px 0px 150px;
}
.price__block__title{
    width: 280px;
    font-weight: 700;
    font-size: 28px;
    color: white;
    position: relative;
}
.price__block__title::before{
    content: '';
    width: 100%;
    height: 3px;
    background:linear-gradient(45deg, rgb(233, 174, 64), rgb(72, 72, 235));
    position: absolute;
    bottom: 40px;
}
.record__block{
    padding: 30px 0px 0px 150px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.record__block__title{
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.record__block__btn{
    font-weight: 700;
    font-size: 14px;
    color: white;
    width: 286px;
    height: 50px;
    background-color:#F7941D;
    border-radius: 10px;
    border: none;
    transition: 0.8s;
}
.record__block__btn:active{
    transform: scale(0.7);
}
.video1__title{
    padding: 40px 0px 0px 150px;
    font-weight: 700;
    font-size: 36px;
}
.learn__block{
    padding: 30px 0px 0px 150px;
    display: flex;
    column-gap: 150px;
}
.learn__block__card{
    display: flex;
    column-gap: 10px;
}
.learn__block__card__img{
    padding-top: 20px;
    width: 13px;
    height: 35px;
}
.learn__block__card__title{
    padding-top: 20px;
    width: 349px;
    font-weight: 400;
    font-size: 16px;
}
.its__programm{
    margin-top: 50px;
    width: 100%;
    height: 380px;
    background-color:#00093C;
}
.its__programm__title{
    padding-top: 10px;
    font-weight: 700;
    font-size: 36px;
    color: white;
    text-align: center;
}
.its__programm__container__content{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.its__programm__container__content__title{
    margin-top: 50px;
    width: 380px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    position: relative;
}
.its__programm__container__content__title::before{
    content: '';
    width: 100%;
    height: 3px;
    background:linear-gradient(45deg, rgb(233, 174, 64), rgb(72, 72, 235));;
    position: absolute;
    bottom:100px ;
}
.its__programm__btn{
    margin: 60px 0px 0px 885px;
    width: 190px;
    height: 50px;
    background-color: #F7941D;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-style: 14px;
    color: white;
    transition: 0.2s;
}
.its__programm__btn:active{
    transform: scale(0.9);
}
.page__study__container__content__title{
    padding: 60px 0px 0px 150px;
    font-weight: 700;
    font-size: 36px;
}
.page__study__block{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
.page__study__block__content__title{
    width: 200px;
    font-weight: 500;
    font-size: 18px;
}
.page__study__container__block{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:50px ;
    row-gap: 20px;
    width: 330px;
    height: 210px;
    background-color:#C5DDFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px gainsboro;
}
.page__study__container__block__card__title{
    font-weight: 500;
    font-size: 24px;
}
.page__study__container__block__card__subtitle{
    width: 280px;
    font-weight: 400;
    font-size: 12px;
}
.page__study__container__block__card__text{
    width: 330px;
    font-weight: 700;
    font-size: 20px;
}
.course__content{
    padding: 50px 0px 0px 150px;
}
.course__content__title{
    font-weight: 700;
    font-size: 36px;
}
.course__content__subtitle{
    padding-top: 10px;
    width: 979px;
    font-weight: 400;
    font-size: 18px;
}
.course__content__card{
    padding-top: 40px;
}
.course__content__card__img{
    height: 210px;
}
.course__content__block{
    padding: 50px 0px 0px 150px;
}
.page__work__container__title{
    font-weight: 700;
    font-size: 36px;
    padding:20px 0px 0px 150px ; 
}
.page__work__container__content{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}
.page__work__container__content__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    row-gap: 40px;
    width: 510px;
    height: 270px;
    background-color: #C5DDFF;
    border-radius: 10px;
}
.page__work__container__content__card__title{
    font-weight: 500;
    font-size: 24px;
}
.page__work__container__content__card__subtitle{
    width: 490px;
    font-weight: 400;
    font-size: 12px;
}
.page__work__container__content__card__text{
    font-weight: 700;
    font-size: 28px;
}
.page__future__container__content{
    margin: 20px 0px 0px 150px;
    width: 1050px;
    height: 740px;
    border: 2px solid;
    border-image: linear-gradient(45deg, rgb(188, 111, 17), rgb(59, 110, 212)) 1;
}   
.page__future__container__content__list{
    display: flex;
    padding: 40px 0px 0px 40px;
}
.page__future__container__content__list__text{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page__future__container__content__list__text__title{
    font-weight: 400;
    font-size: 12px;
}
.page__future__container__content__list__text__subtitle{
    font-weight: 700;
    font-size: 18px;
}
.page__future__container__content__list__text1{
    padding: 20px 0px 0px 500px;
}
.skills__block__title{
    padding: 40px 0px 0px 60px ;
    font-weight: 400;
    font-size: 18px;
}
.learn__block1{
    padding: 20px 0px 0px 40px;
    display: flex;
    column-gap: 80px;
}
.diplom{
    padding: 50px 0px 0px 20px;
    display: flex;
}
.diplom__text__title{
    font-weight: 700;
    font-size: 24px;
}
.diplom__text__subtitle{
    width: 640px;
    font-weight: 400;
    font-size: 16px;
}
.page__teacher__block1{
    display: flex;
    padding-top: 30px;
    column-gap: 20px;
}

.course__contant3 {
    margin-left: 235px ;
}

.course__content__card__img1 {
    width: 120px;
}

.course__content__card__img8 {
    width: 134px;
}